@page "/"
@inherits ListPortfolioBase


<div class="sreen ">
    <TopBar></TopBar>
    <StockSearch/>
@if (securities == null)
{
    <h1>loading..</h1>
}else{
      

        <div class="d-flex align-content-start flex-wrap">
        @foreach (var v in securities)
    {


          <DisplayIndividial Securitiy="v">
          
          </DisplayIndividial> 
    }
    
           <AddNewItem></AddNewItem>
          
</div>
       
}
</div>