@inherits TopBarBase

<nav class="navbar navbar-light bg-light  ">
    <div class="container-fluid @cssclass justify-content-center ">

        <a class="navbar-brand ">All profit: @Math.Round(profit,2)$ </a>
       

  </div>
</nav>
